.card {
  border: 1px solid grey;
  width: 20%;
  border-radius: 9px 20px 25px 30px;
  padding: 20px;
  background-color: white;
}
.card:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
.d-flex {
  display: flex;
  flex-direction: row;
}
.container {
  padding: 40px 200px;
  background-color: #004c3f;
}
.col {
  width: 20%;
}
.f-link {
  color: white;
  text-decoration: none;
}
.f-link:hover {
  text-decoration: underline;
}

.s-link {
  color: white;
  text-decoration: none;
}
