.header {
  background-image: url(header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 110px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
}
ul {
  list-style: none;
}
.nav > li {
  display: flex;
  padding: 0px;
}
.nav > li > a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;
}
.padd-1 {
  padding-right: 19px !important;
  padding-left: 23px !important;
}
.fw-9 {
  font-weight: 900;
}
.fs-xl {
  font-size: 70px;
}
.color {
  color: #dc8cdb;
}
.pink-grad {
  text-decoration: none;
  padding: 12px 24px;
  background: linear-gradient(to right, #f8c3db, #dc8cdb);
  color: #fff;
  border-radius: 10px;
  margin-top: 20px !important;
}
.pink-grad:hover {
  text-decoration: none;
  color: #fff;
}
.ps-80 {
  padding-left: 80px;
}
