.footer {
  background-color: #002e25;
  color: white;
  padding: 0px 100px !important;
}
.row > ul > li > a {
  text-decoration: none;
  color: white;
  border-bottom: #002e25 solid 2px;
}
.row > ul > li > a:hover {
  text-decoration: none;
  color: white;
  border-bottom: white solid 2px;
}
text-white-50:hover {
  color: white;
}
.white-50 {
  color: #c3c5c9;
  font-size: 17px;
}
.white-50:hover {
  color: rgb(255, 255, 255);
  font-size: 17px;
}
