.bg-color {
  background-color: #002d2d;
}
.contain {
  padding: 0px 120px;
}
.btn {
  background-color: #008060;
}
.text-color {
  color: white !important ;
}
.fw-6 {
  font-size: 80px !important;
  font-weight: bolder !important;
}
.border {
  border-radius: 5px;
}
.fw-7 {
  font-size: 80px !important;
  font-weight: bolder !important;
}
.margin {
  margin: 0px 100px;
}
.pe-6 {
  padding-right: 180px !important;
}
.ms-7 {
  margin: 0px 150px;
}
.bg-color-1 {
  background-color: #fff8f6;
}
.border-1 {
  border-radius: 30px;
}
.p-6 {
  padding: 60px 100px;
  margin: 180px 120px;
}
.p-7 {
  padding: 0px 150px;
}
.bg-color-2 {
  background-color: #b7e9f7;
}
.p-8 {
  padding: 60px 70px;
  float: right;
}
.bg-color-3 {
  background-color: #000000;
  border-radius: 35px;
}
.padding {
  padding: 100px 70px;
}
.marg {
  padding: 10px 150px 10px 275px;
}
.mar {
  padding: 10px 220px 10px 20px;
}
.fnt {
  font-size: 20px !important;
}
.bg-colorr {
  background-color: #f3fcf4;
}
.font {
  font-size: 80px;
}
.color {
  color: #03533f;
}
.me-8 {
  padding: 0px 130px 130px 120px;
  font-size: 40px !important;
}
.border-2 {
  border-radius: 20px;
}
.pe-7 {
  padding-right: 400px;
}
.f-w {
  font-size: 60px;
}
